<!DOCTYPE html>
<html>

<head>
  <title>RNN Patent Writing</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="shortcut icon" href="/static/images/lstm.ico">
  
</head>

<body>
  <div class="container">
    <h1>
      <center>Writing Novel Patent Abstracts with Recurrent Neural Networks</center>
    </h1>

    {% block content %}
    {% for message in form.text.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.wav_files.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    <form method=post enctype=multipart/form-data>

      {{ form.text.label }}
      {{ form.text }}

      {{ form.wav_files.label }}
      {{ form.wav_files }}

      {{ form.submit }}
    </form>

    {% endblock %}
  </div>
</body>

</html>